doctype html

html(lang='en')
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/styles/materialize.css')
  head
    title The seat hub
  body
    .container
      block content

    script(type='text/javascript', src='/scripts/bundle.js')
    script(type='text/javascript', src='/scripts/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/scripts/materialize.min.js')
